html{
    font-size: 62.5%;
}
body{
    background:lightgray ;
    font-size: 1.4rem;
}
.workspace{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.workspace.active .gallery-content{
    transform: translateY(0);
}
.workspace.active .mobile-body{
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.1);
}
.bg-content{
    position:absolute;
    left: -1rem;
    right: -1rem;
    top: -1rem;
    bottom: -1rem;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/bg-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1rem);
    transition: all 0.5s;
}
.gallery-content{
    position: fixed;
    bottom: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
    z-index: 1;
    background-color: black;
    height: 7.5rem;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    transform: translateY(7.5rem);
    transition: all 1s;
    overflow: auto;
}
.gallery-content__img{
    width: 4.5rem;
    height: 4.5rem;
    flex-shrink: 0;
    margin-right: 2rem;
    border: 0.1rem solid white;
    cursor:pointer;
    transition: all 0.5s;
    border-radius: 0.5rem;
    overflow: hidden;
}
.gallery-content__img.active{
    border-width: 0.2rem;
    border-color: purple;
}
.gallery-content__img:last-child{
    margin-right: 0;
}
.gallery-content__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobile-body{
    position: relative;
    flex-shrink: 0;
    width: 35.6rem;
    height: 72.2rem;
    border-radius:  6rem;
    display:flex;
    justify-content: center;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/830072/bg-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    transform: scale(0.9);
    opacity: 0;
    box-shadow: none;
    transition: all 1s;
    margin-bottom: 7.5rem;
}
.mobile-body:hover{
    box-shadow:none !important;
    transform: scale(0.95) !important;
}
.mobile-body .layer-1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0.4rem solid #484848;
    border-radius: 6rem;
}
/* .mobile-body .layer-2{
    position: absolute;
    left: 0.3rem;
    right: 0.3rem;
    top: 0.3rem;
    bottom: 0.3rem;
    border: 1.6rem solid #000;
    border-radius: 5.6rem;
} */

